.btn {
  padding: 1rem 1.25rem;
  font-size: 18px;
  display: inline-flex;
  border-radius: 0.5rem;
  border: none;
}
.btn.lg {
  padding: 1.5rem 1.75rem;
  font-size: 20px;
  border-radius: 0.75rem;
}
.btn.sm {
  padding: 0.75rem 1rem;
  font-size: 16px;
  border-radius: 0.375rem;
}
.btn.accent {
  color: #fff;
  background-color: #1e9290;
}
.btn.info {
  color: #fff;
  background-color: #225ba7;
}
.btn.success {
  color: #232323;
  background-color: #64a836;
}
.btn.warning {
  color: #232323;
  background-color: #efb926;
}
.btn.error {
  color: #fff;
  background-color: #b90039;
}
